<div @fadeAnimation class="loading-container" *ngIf="!file_ready">
  <div class="lds-ellipsis" id="loading" style="opacity: 1">
    <div></div>
    <div></div>
    <div></div>
    <div></div>
  </div>
</div>

<div @fadeAnimation class="container" *ngIf="file_ready">
  <div class="image-container">
    <img
      class="image"
      src="../../../assets/images/{{ image_name }}"
      alt="background photo"
    />
  </div>

  <div class="information-container">
    <span class="title">VALOLINE</span>

    <div class="download-button">
      <!-- btn--light -->
      <button class="btn" (click)="downloadFile(download_url)">
        <span class="btn__inner">
          <span class="btn__slide"></span>
          <span class="btn__content">Download</span>
        </span>
      </button>

      <span class="version">latest: {{ tag_name }}</span>
    </div>
    <!--  -->
  </div>
</div>

<div class="wave2"></div>
