:host {
  .container {
    position: relative;
    background-color: black;
    padding: 0;
  }

  .image-container {
    position: relative;

    .image {
      width: 100%;
      height: 99vh;
      object-fit: cover;
    }
  }

  .information-container {
    background-color: var(--overlay-color);
    width: 100%;
    height: 99vh;
    top: 0;
    position: absolute;

    .btn__content {
      font-family: var(--font-regular);
    }

    display: flex;
    flex-direction: column;
    align-items: center;

    .title {
      font-family: var(--font-primary-valorant);
      font-size: var(--font-size-large);
      margin-top: 150px;
      color: white;
    }

    .download-button {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin: auto;

      .version {
        font-size: var(--font-size-version);
        color: white;
        font-family: var(--font-regular);
      }
    }
  }

  // button style
  .btn {
    /* Clean style */
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    border: none;
    background: none;
    padding: 0;
    color: var(--button-text-color);
    cursor: pointer;
    /* Clean style */

    --button-text-color: var(--background-color);
    --button-text-color-hover: var(--button-background-color);
    --border-color: #7d8082;
    --button-background-color: #ece8e1;
    --highlight-color: #ff4655;
    --button-inner-border-color: transparent;
    --button-bits-color: var(--background-color);
    --button-bits-color-hover: var(--button-background-color);

    position: relative;
    padding: 8px;
    margin-bottom: 20px;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 14px;
    transition: all 0.15s ease;
    width: 250px;
  }

  .btn::before,
  .btn::after {
    content: "";
    display: block;
    position: absolute;
    right: 0;
    left: 0;
    height: calc(50% - 5px);
    border: 1px solid var(--border-color);
    transition: all 0.15s ease;
  }

  .btn::before {
    top: 0;
    border-bottom-width: 0;
  }

  .btn::after {
    bottom: 0;
    border-top-width: 0;
  }

  .btn:active,
  .btn:focus {
    outline: none;
  }

  .btn:active::before,
  .btn:active::after {
    right: 3px;
    left: 3px;
  }

  .btn:active::before {
    top: 3px;
  }

  .btn:active::after {
    bottom: 3px;
  }

  .btn__inner {
    position: relative;
    display: block;
    padding: 20px 30px;
    background-color: var(--button-background-color);
    overflow: hidden;
    box-shadow: inset 0px 0px 0px 1px var(--button-inner-border-color);
  }

  .btn__inner::before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 2px;
    height: 2px;
    background-color: var(--button-bits-color);
  }

  .btn__inner::after {
    content: "";
    display: block;
    position: absolute;
    right: 0;
    bottom: 0;
    width: 4px;
    height: 4px;
    background-color: var(--button-bits-color);
    transition: all 0.2s ease;
  }

  .btn__slide {
    display: block;
    position: absolute;
    top: 0;
    bottom: -1px;
    left: -8px;
    width: 0;
    background-color: var(--highlight-color);
    transform: skew(-15deg);
    transition: all 0.2s ease;
  }

  .btn__content {
    position: relative;
  }

  .btn:hover {
    color: var(--button-text-color-hover);
  }

  .btn:hover .btn__slide {
    width: calc(100% + 15px);
  }

  .btn:hover .btn__inner::after {
    background-color: var(--button-bits-color-hover);
  }

  .btn--light {
    --button-background-color: var(--background-color);
    --button-text-color: var(--highlight-color);
    --button-inner-border-color: var(--highlight-color);
    --button-text-color-hover: #ece8e1;
    --button-bits-color-hover: #ece8e1;
  }

  // wave style
  .wave1,
  .wave2 {
    height: 30px;
    position: absolute;
    width: 100%;
    z-index: 12;
    left: 0;
    bottom: 0;
  }

  .wave1 {
    -webkit-animation: wave-animation1 8.7s infinite linear; /* Safari 4+ */
    -moz-animation: wave-animation1 8.7s infinite linear; /* Fx 5+ */
    -o-animation: wave-animation1 8.7s infinite linear; /* Opera 12+ */
    animation: wave-animation1 8.7s infinite linear; /* IE 10+ */
  }
  .wave2 {
    -webkit-animation: wave-animation1 6.3s infinite linear; /* Safari 4+ */
    -moz-animation: wave-animation1 6.3s infinite linear; /* Fx 5+ */
    -o-animation: wave-animation1 6.3s infinite linear; /* Opera 12+ */
    animation: wave-animation1 6.3s infinite linear; /* IE 10+ */
  }

  @-webkit-keyframes wave-animation1 {
    0% {
      background-position: 0 0;
    }
    100% {
      background-position: 1601px 0;
    }
  }
  @-moz-keyframes wave-animation1 {
    0% {
      background-position: 0 0;
    }
    100% {
      background-position: 1601px 0;
    }
  }
  @-o-keyframes wave-animation1 {
    0% {
      background-position: 0 0;
    }
    100% {
      background-position: 1601px 0;
    }
  }
  @keyframes wave-animation1 {
    0% {
      background-position: 0 0;
    }
    100% {
      background-position: 1601px 0;
    }
  }

  .wave1 {
    background: url("../../../assets/images/wave1.png") 0 0 repeat-x;
  }
  .wave2 {
    background: url("../../../assets/images/wave3.png") 0 0 repeat-x;
  }
}
