/* You can add global styles to this file, and also import other style files */

html,
body {
  margin: 0;
  padding: 0;
  background-color: black;
}

:root {
  // colors
  --primary-color: #7b77ff;
  --overlay-color: rgba(0, 0, 0, 0.5);

  // border radius
  --border-radius-sharp: 10px;

  //shadows
  --box-below-shadow: rgba(255, 0, 0, 0) 0px 1px 1px 0px inset,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
}
