/* You can add global styles to this file, and also import other style files */

@font-face {
  font-family: "VALORANT";
  font-style: normal;
  font-weight: 400;
  src: local("VALORANT"), url("assets/fonts/Valorant\ Font.woff") format("woff");
}

// @font-face {
//   font-family: "POPPINS";
//   font-style: normal;
//   font-weight: 400;
//   src: local("VALORANT"), url("assets/fonts/Valorant\ Font.woff") format("woff");
// }

@font-face {
  font-family: "Regular";
  src: url("./assets/fonts/Poppins-Bold.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

html,
body {
  margin: 0;
  padding: 0;
  background-color: rgb(255, 255, 255);
}

:root {
  // colors
  --overlay-color: rgba(0, 0, 0, 0.5);

  // font
  --font-primary-valorant: "VALORANT";
  --font-regular: "Regular";
  --font-size-large: 12vw;
  --font-size-version: 12vw;
}
